


<div class="jumbotron text-center">
  <h1 id="home-title">Illinois Alumni Hockey Tournament</h1>
</div>
<button><a href="/vimeodata">Get Vimeo Data</a></button>

<div class="video-container">
  <iframe src="//player.vimeo.com/video/172972658" width="800px" height="500px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h3>Register a New Team Today</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>Join an Existing Team</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
    <div class="col-sm-4">
      <h3>View Past Tournaments</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
    </div>
  </div>
</div>

