<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<!-- Javascript and jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Illinois Alumni Hockey Tournament</title>
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="nav-container">
    <div class="nav-logo-container">
      <img id="logo" src="./images/logo.png">
    </div>

    <div class="nav-link-container">
      <ul class = "nav-top">
        <li><a href="/">Home</a></li>
        <% unless logged_in? %>
          <li><a href="/players/register">Register</a></li>
          <li><a  href="/players/login">Login</a></li>
        <% end %>
        <% if logged_in? %>
          <li><a href="/players/profile/<%=current_user.id%>"><%=current_user.first_name.capitalize%>'s Profile</a></li>
          <li><a  href="/players/logout">Logout</a></li>
        <%end %>
      </ul>
    </div>
  </div>
</nav>


  <%= yield %>
</body>
</html>
